



.container {

display: flex;
width: 1000px;
box-sizing: border-box;
flex-direction:row;



}

.profileData{

    display: flex;
    width: 500px;
    box-sizing: border-box;
    flex-direction: column;
    color: black;
    background-color: coral;

    justify-content: center;
    height: auto;
    align-items: flex-end;
    margin-left: 150px;


}


.profileImage{

    display: flex;
    width: 500px;

    box-sizing: border-box;
    flex-direction: column;
    color: black;
    background-color: coral;

    justify-content: center;

    align-items: flex-end;
    margin-left: 150px;


}
.image{
    width: 200px;
    height: 200px;


}
